
/* Block model */

body {
text-align: right;
}

p {
    width: 200px;
    height: 300px;
    background-color: blanchedalmond;
    border: 1px solid red;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    text-align: initial;
    vertical-align: top;
    

    /* display: inline (does not work, shifts all blocks together with overlapping*/

}

/* wighth, heights, padding do notwork for inline elements like a, solution - to use display inline-block*/
a {
    width: 100px;
    height: 50px;
    border: 1px solid green;
    padding: 20px;
    margin: 10px;
    text-align: center;
    
    display: inline-block;
}

/* display: inline-block: stand in line like inline elements and have size as block elements - hybrid elements */

/* Example change from block to inline */

a{
    color: inherit;
    text-decoration: none;
}

.nav-link-item {
    display: inline
}

