/* Selector tag (type) - specification 0001*/
/*External styles */
h1 {
    color: blue;
    text-align: center;
    font-size: 64px;
    font-family: initial; /* switch off inheritance (what was stated in the body) */
    border: inherit /*switch on inheritance (what was stated in the body)*/
}
body {
    font-family: sans-serif;
    border: 5px red solid;
    text-align: center;
}

p {
    font-family: monospace;
    color: inherit;
    text-decoration: none;
}

/* user case */
a{
    color: inherit;
    text-decoration: none;
}
/*Selector class - Specification 0010*/
.annotation {
    font-size: 10px;
}

/* Selector identification (id) - Specification 0100*/

#subscribe-btn {
    color:red !important;

}

/* !important = overwrites all styles, should not be used as bad praxis */
/* subscribe-btn: kebab-case
subscribeBtn: camelCase (lowerCamelCase / UpperCamelCase (or PascalCase)
subscribe_btn: snake_case */

/* Cascading: if one and the same specification (i.e. font-size, color) allocated to the same selector, the last will apply */ 
/* Specificaton: if one and the same spafication stated in selectors with different specifications, one applies with the highest specification (i.e.0001, 0010, 0100) */

/* Inheritance - inheritance (transition) of specifications, i.e. general specifications from body to h, p, etc. */

