
h1, h2, h3 {
    font-size: 100px;
    background-color: aquamarine;
    color: red;
}

/* Selector by tag */

p {
    color: blue;
    font-size: 50px;
}

/* Selector by id */

#heading {
    color: red;
    font-size: 50px;
}

/* Selector by class */
.green-text {
    color: green;
}
.font-size-large {
    font-size: 60px;
}